<div class="welcome-page">
  <div class="image-container">
    <img src="./assets/inicio.jpg" width="500px">
    <div class="text-overlay">SweetCooking</div>
  </div>
  <div class="background-text">
    <div class="text-middle">Welcome!</div>
  </div>
  <div class="buttons-container">
    <button class="button-login">
      <img src="./assets/acceso.png" alt="Register Icon" class="button-icon">
      Login
    </button>
    <button class="button-register">
        <img src="./assets/anadir-amigo.png" alt="Register Icon" class="button-icon">
        Register
    </button>
</div>
</div>

